button{
    margin-top: 70px;
    float: left;
    height: 50px;
    border-radius: 10px;
    width: 100px;
    border: 1px solid #171717;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
button:hover{
    background-color: rgb(96, 96, 131);

}
img{
    float: left;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 5px;
}